{% extends "pages-layout.html" %}
{% block page_content %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{profile_picture}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.username }}</h5>
        <h5 class="card-title">{{user.email }}</h5>
      </div>
    </div>
  </div>
</div>

<form method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

      <div class="form-group">
        {{form.profile_picture.label(class="form-control-label")}}
        {% if form.profile_picture.errors %}
          {% for error in form.profile_picture.errors%}
            {{ form.profile_picture(class="form-control col-4 is-invalid ") }}
            <div class="invalid-feedback">
              <span> {{ error }}</span>
            </div>
          {% endfor %}
        {% else %}
          {{ form.profile_picture(class="form-control col-4") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-info") }}
      </div>



</form>

{% endblock %}
