{% extends "pages-layout.html" %}
{% block page_content %}

<div class="row">
  <div class="col-md-8">
    <br> <br>
    <div class="card">
      <div class="card-body">
        <h1>{{ book.title }}</h1>
        <h6>review counts is : {{book.review_count}}</h6>
        {% if book.review_count != 0 %}
          <h6>Average Rating is {{book.total_score / book.review_count}}</h6>
        {% else %}
          <h6>Average Rating is 0</h6>
        {% endif %}
        <h6>Goodreads reviews count is: {{ goodreads_result.books[0].work_reviews_count }}</h6>
        <h6>Goodreads Average Rating is: {{ goodreads_result.books[0].average_rating }}</h6>

      </div>
    </div>
    <br> <br>


  </div>

  <div class="col-md">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">{{ book.title }}</h6>
        <p class="card-text">Author: {{book.author}} <br> Year Published: {{book.year}} <br> isbn: {{book.isbn}}</p>
      </div>
    </div>
  </div>
</div> <br> <br>


<div class="class="row"">
  <div class="col-md-8">
    {% if session.get('user_id') is none %}
    <div class="card">
      <div class="card-body">
        <p>You need to <a href="{{url_for('login')}}">Log in</a> to add a review. If you don't have an account <a href="{{url_for('register')}}">Sign Up</a> now.</p>
      </div>
    </div>
    {% else %}
      {% if user_review is none %}
        <form class="form-group" action="{{ url_for('add_review',id=book.id, isbn=book.isbn) }}" method="post">
          <label for="">Rating Score</label>
          <select class="form-control" name="rating"> Rating
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <label for="">Review</label>
          <textarea class="form-control" name="review" rows="5" cols="50"></textarea>
          <br>
          <button class="btn btn-primary btn-block" type="submit" name="submit">Post Review</button>
        </form>
      {% else %}
        <div class="card">
          <div class="card-header"><h6><img src="{{url_for('static', filename='profile_pics/' + user_review.image)}}" class="mr-3" style="width:64px;">
             {{user_review.username}} </h6></div>
          <div class="card-body">
            <h6 class="card-title">{{user_review.rating}} Out Of 5.0 </h6>
            <p class="card-text">{{user_review.review}}</p>
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% for review in reviews %}
    <div class="card">
      <div class="card-header"><h6><img src="{{url_for('static', filename='profile_pics/' + review.image)}}" class="mr-3" style="width:64px;">
         {{review.username}} </h6> </div>
      <div class="card-body">
        <h6 class="card-title">{{review.rating}} Out Of 5.0 </h6>
        <p class="card-text">{{review.review}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



{% endblock %}
